body{
    background-color: burlywood;
    column-count: 2;
    column-span: all;
    column-fill: auto;
}

#title{
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}

.container img{
    height: 290px;
    align-items: center;
}

.container{
    border: solid antiquewhite;
}

.container h1{
    text-align: left;

}

footer{
    text-align: left;
    bottom: 0;
    display: inline-table;
}