html{
    position: relative;
    min-height: 105vh;
    background: aquamarine;
}

body    {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    position: absolute;
    height: 105vh;
    box-sizing: border-box;
}

#title {
    font-family: 'Handjet', cursive;
    font-size: 90px;
    color: deeppink ;
}

#left{
    display: inline-table;
    text-align: center;
    position: relative;
    border: 12px;
    padding: 40px;
    background-color: beige;
    margin: 90px;
    border-radius: 2px;
    
}

#midc{
    text-align: center;
    position: relative;
    transform: translateY(-1.7vw);
}

#mid{
    display: inline-table;
    text-align: center;
    position: relative;
    padding: 40px;
    background-color: beige;
    margin: 18px;
    border-radius: 2px;
    
}

#right{
    display: inline-table;
    text-align: center;
    position: relative;
    padding: 40px;
    background-color: beige;
    margin: 90px;
    border-radius: 2px;
    
}
#subrayado{
    position: absolute;
    align-items: center;
    display: grid;
    height: 500px;
    width: 700px;
    top: 20px;  
}

#leftimg {
    position: relative;
    height: 200px;
    width: 300px;
    top: 21px;
    z-index: 1;
}

#midimg{
    position: relative;
    height: 200px;
    width: 300px;
    top: 21px;
    z-index: 1;
}

#rightimg{
    position: relative;
    height: 200px;
    width: 300px;
    top: 21px;
    z-index: 1;
}

#leftmarco{
    position: absolute;
    height: 252px;
    width: 340px;
    top: 30px;
    left: 20px;
    z-index: 2;
}

#midmarco {
    position: absolute;
    height: 252px;
    width: 340px;
    top: 30px;
    left: 175px;
    z-index: 2;
}

#rightmarco{
    position: absolute;
    height: 252px;
    width: 340px;
    top: 30px;
    left: 20px;
    z-index: 2;
}

#leftdescription{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    position: relative;

}

#middescription{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

#rightdescription{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

footer {
    padding: 1rem 2rem;
    background-color: hotpink;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50px;
    font-family: 'Handjet';
}
 
#pepito{
    color: beige;
}